In [ ]:
import pyodbc
# import mysql.connector
import pandas as pd
from datetime import datetime
import os
from dotenv import load_dotenv , find_dotenv # to load .env files

load_dotenv()

True

In [2]:
warehouse_servr = os.environ.get("DB1_HOST")
warehouse_user = os.environ.get("DB1_USER")
warehouse_pass = os.environ.get("DB1_PASS")
warehouse_db = os.environ.get("DB1_NAME") 

conn = pyodbc.connect(
            f"Driver={{ODBC Driver 17 for SQL Server}};"
            f"Server={warehouse_servr};"  # Warehouse server
            f"Database={warehouse_db};"  # Warehouse database
            f"UID={warehouse_user};"
            f"PWD={warehouse_pass};"
        )

warehouse_cursor = conn.cursor()

warehouse_cursor.fast_executemany = True

In [10]:
df = pd.read_csv('E:\Drishtee\Data\CSP Commission\CSP_Commission_10_2025.csv')
df

,Comm_Month,Accounting_Month,Bank,CSP_Code,State,Territorry,District,Comm_Pena,Revenue_Category,Revenue_Head,Count,Comm,Tag
0,30-09-2025,31-10-2025,SBI,10021602,West Bengal,NaN,Darjeeling,Comm,Incentive,RURAL COMMISSION,1.0,2000.00,LM
1,30-09-2025,31-10-2025,SBI,10021602,West Bengal,NaN,Darjeeling,Comm,Incentive,AVERAGE BALANCE MAINTENANCE,4770.0,18463.28,LM
2,30-09-2025,31-10-2025,SBI,10021602,West Bengal,NaN,Darjeeling,Comm,Withdrawal,AEPS ONUS WITHDRAWAL,799.0,8512.00,LM
3,30-09-2025,31-10-2025,SBI,10021602,West Bengal,NaN,Darjeeling,Comm,Social Security Scheme & A/C Opening,PMJJBY,5.0,112.50,LM
4,30-09-2025,31-10-2025,SBI,10021602,West Bengal,NaN,Darjeeling,Comm,Non Transactional,AEPS MINI STATEMENT - ONUS,142.0,284.00,LM
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35213,30-09-2025,31-10-2025,UGB,15010012,Uttarakhand,NaN,Uttarkashi,Comm,Incentive,Points Earned,226.0,2500.00,LM
35214,30-09-2025,31-10-2025,UGB,15010008,Uttarakhand,NaN,Udham Singh Nagar,Comm,Incentive,Points Earned,90.0,1500.00,LM
35215,30-09-2025,31-10-2025,UGB,15010021,Uttarakhand,NaN,Tehri Garhwal,Comm,Incentive,Points Earned,208.0,3200.00,LM
35216,30-09-2025,31-10-2025,UGB,15010007,Uttarakhand,NaN,Udham Singh Nagar,Comm,Incentive,Points Earned,370.0,2500.00,LM
35217,30-09-2025,31-10-2025,UGB,15010020,Uttarakhand,NaN,Dehradun,Comm,Incentive,Points Earned,148.0,2000.00,LM

In [55]:
idf = df[df['Bank'].isin(['INDIAN', 'UCO', 'UGB'])]
idf

,Comm_Month,Accounting_Month,Bank,CSP_Code,State,Territorry,District,Comm_Pena,Revenue_Category,Revenue_Head,Count,Comm,Tag
34666,30-09-2025,31-10-2025,UCO,25500,West Bengal,NaN,Paschim Medinipur,Comm,Social Security Scheme & A/C Opening,ACCT,22.0,330.0,LM
34667,30-09-2025,31-10-2025,UCO,25500,West Bengal,NaN,Paschim Medinipur,Comm,Social Security Scheme & A/C Opening,SBY,12.0,12.0,LM
34668,30-09-2025,31-10-2025,UCO,25627,Madhya Pradesh,NaN,Rajgarh,Comm,Social Security Scheme & A/C Opening,ACCT,38.0,575.0,LM
34669,30-09-2025,31-10-2025,UCO,25627,Madhya Pradesh,NaN,Rajgarh,Comm,Other Commission,FINANCIAL_TXN,7.0,20.0,LM
34670,30-09-2025,31-10-2025,UCO,25627,Madhya Pradesh,NaN,Rajgarh,Comm,Social Security Scheme & A/C Opening,SBY,4.0,4.0,LM
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35213,30-09-2025,31-10-2025,UGB,15010012,Uttarakhand,NaN,Uttarkashi,Comm,Incentive,Points Earned,226.0,2500.0,LM
35214,30-09-2025,31-10-2025,UGB,15010008,Uttarakhand,NaN,Udham Singh Nagar,Comm,Incentive,Points Earned,90.0,1500.0,LM
35215,30-09-2025,31-10-2025,UGB,15010021,Uttarakhand,NaN,Tehri Garhwal,Comm,Incentive,Points Earned,208.0,3200.0,LM
35216,30-09-2025,31-10-2025,UGB,15010007,Uttarakhand,NaN,Udham Singh Nagar,Comm,Incentive,Points Earned,370.0,2500.0,LM
35217,30-09-2025,31-10-2025,UGB,15010020,Uttarakhand,NaN,Dehradun,Comm,Incentive,Points Earned,148.0,2000.0,LM

# **Transformation**

In [59]:
idf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 552 entries, 34666 to 35217
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Comm_Month        552 non-null    datetime64[ns]
 1   Accounting_Month  552 non-null    datetime64[ns]
 2   Bank              552 non-null    object
 3   CSP_Code          552 non-null    object
 4   State             552 non-null    object
 5   Territorry        552 non-null    object
 6   District          552 non-null    object
 7   Comm_Pena         552 non-null    object
 8   Revenue_Category  552 non-null    object
 9   Revenue_Head      552 non-null    object
 10  Count             552 non-null    float64
 11  Comm              552 non-null    float64
 12  Tag               552 non-null    object
dtypes: datetime64[ns](2), float64(2), object(9)
memory usage: 60.4+ KB

In [24]:
idf[idf['Count'].isnull()]

,Comm_Month,Accounting_Month,Bank,CSP_Code,State,Territorry,District,Comm_Pena,Revenue_Category,Revenue_Head,Count,Comm,Tag
34696,30-09-2025,31-10-2025,INDIAN,AS57527712685,Assam,NaN,Biswanath Chariali,Comm,Other Commission,NET_FIXED,NaN,2500.0,LM
34702,30-09-2025,31-10-2025,INDIAN,AS57527712686,Assam,NaN,Biswanath Chariali,Comm,Other Commission,NET_FIXED,NaN,2305.0,LM
34709,30-09-2025,31-10-2025,INDIAN,BR57111010436,Bihar,NaN,Samastipur,Comm,Other Commission,NET_FIXED,NaN,2500.0,LM
34718,30-09-2025,31-10-2025,INDIAN,BR57111310435,Bihar,NaN,Sheohar,Comm,Other Commission,NET_FIXED,NaN,2500.0,LM
34726,30-09-2025,31-10-2025,INDIAN,BR57111310438,Bihar,NaN,Sheohar,Comm,Other Commission,NET_FIXED,NaN,1280.0,LM
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35106,30-09-2025,31-10-2025,INDIAN,UP57686012072,Uttar Pradesh,NaN,Hardoi,Comm,Other Commission,NET_FIXED,NaN,235.0,LM
35107,30-09-2025,31-10-2025,INDIAN,UP57686012072,Uttar Pradesh,NaN,Hardoi,Penalty,Penalty,PENALTY,NaN,200.0,LM
35113,30-09-2025,31-10-2025,INDIAN,UP57717609911,Uttar Pradesh,NaN,Chandauli,Comm,Other Commission,NET_FIXED,NaN,2500.0,LM
35119,30-09-2025,31-10-2025,INDIAN,UP57717614525,Uttar Pradesh,NaN,Chandauli,Comm,Other Commission,NET_FIXED,NaN,5000.0,LM
35120,30-09-2025,31-10-2025,INDIAN,UP57717614525,Uttar Pradesh,NaN,Chandauli,Penalty,Penalty,PENALTY,NaN,200.0,LM

In [28]:
idf['Accounting_Month'].unique()

array(['31-10-2025'], dtype=object)

In [56]:
idf['Territorry'] = idf['Territorry'].astype('object')

idf['Comm_Month'] = pd.to_datetime(idf['Comm_Month'])

idf['Accounting_Month'] = pd.to_datetime(idf['Accounting_Month'])

# df['imported_at'] = pd.to_datetime(df['imported_at'])

# df['Count'] = df['Count'].str.replace(',', '')

# df['Comm'] = df['Comm'].str.replace(',', '')

# idf['Count'] = idf['Count'].fillna(0, inplace=True)
# idf['Comm'] = idf['Comm'].fillna(0, inplace=True)

# idf['Count'] = idf['Count'].astype('int')

# idf['Comm'] = idf['Comm'].fillna(0, inplace=True)

# df['Comm'] = df['Comm'].astype('float')

idf['Territorry'].fillna('', inplace=True)  

idf['District'].fillna('', inplace=True)

C:\Users\handa\AppData\Local\Temp\ipykernel_28196\1933334065.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  idf['Territorry'] = idf['Territorry'].astype('object')
C:\Users\handa\AppData\Local\Temp\ipykernel_28196\1933334065.py:3: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  idf['Comm_Month'] = pd.to_datetime(idf['Comm_Month'])
C:\Users\handa\AppData\Local\Temp\ipykernel_28196\1933334065.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  idf['Comm_Month'] = pd.to_datetime(idf['Comm_Month'])
C:\Users\handa\AppData\Local\Temp\ipykernel_28196\1933334065.py:5: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  idf['Accounting_Month'] = pd.to_datetime(idf['Accounting_Month'])
C:\Users\handa\AppData\Local\Temp\ipykernel_28196\1933334065.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  idf['Accounting_Month'] = pd.to_datetime(idf['Accounting_Month'])
C:\Users\handa\AppData\Local\Temp\ipykernel_28196\1933334065.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  idf['Territorry'].fillna('', inplace=True)
C:\Users\handa\AppData\Local\Temp\ipykernel_28196\1933334065.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  idf['Territorry'].fillna('', inplace=True)
C:\Users\handa\AppData\Local\Temp\ipykernel_28196\1933334065.py:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  idf['District'].fillna('', inplace=True)
C:\Users\handa\AppData\Local\Temp\ipykernel_28196\1933334065.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  idf['District'].fillna('', inplace=True)

In [57]:
idf['Count'] = idf['Count'].fillna(0)
idf['Comm'] = idf['Comm'].fillna(0.0)

C:\Users\handa\AppData\Local\Temp\ipykernel_28196\3455886411.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  idf['Count'] = idf['Count'].fillna(0)
C:\Users\handa\AppData\Local\Temp\ipykernel_28196\3455886411.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  idf['Comm'] = idf['Comm'].fillna(0.0)

In [58]:
# df['Comm'] = df['Comm'].astype('float')

# idf['Count'] = idf['Count'].astype('int64')

idf

,Comm_Month,Accounting_Month,Bank,CSP_Code,State,Territorry,District,Comm_Pena,Revenue_Category,Revenue_Head,Count,Comm,Tag
34666,2025-09-30,2025-10-31,UCO,25500,West Bengal,,Paschim Medinipur,Comm,Social Security Scheme & A/C Opening,ACCT,22.0,330.0,LM
34667,2025-09-30,2025-10-31,UCO,25500,West Bengal,,Paschim Medinipur,Comm,Social Security Scheme & A/C Opening,SBY,12.0,12.0,LM
34668,2025-09-30,2025-10-31,UCO,25627,Madhya Pradesh,,Rajgarh,Comm,Social Security Scheme & A/C Opening,ACCT,38.0,575.0,LM
34669,2025-09-30,2025-10-31,UCO,25627,Madhya Pradesh,,Rajgarh,Comm,Other Commission,FINANCIAL_TXN,7.0,20.0,LM
34670,2025-09-30,2025-10-31,UCO,25627,Madhya Pradesh,,Rajgarh,Comm,Social Security Scheme & A/C Opening,SBY,4.0,4.0,LM
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35213,2025-09-30,2025-10-31,UGB,15010012,Uttarakhand,,Uttarkashi,Comm,Incentive,Points Earned,226.0,2500.0,LM
35214,2025-09-30,2025-10-31,UGB,15010008,Uttarakhand,,Udham Singh Nagar,Comm,Incentive,Points Earned,90.0,1500.0,LM
35215,2025-09-30,2025-10-31,UGB,15010021,Uttarakhand,,Tehri Garhwal,Comm,Incentive,Points Earned,208.0,3200.0,LM
35216,2025-09-30,2025-10-31,UGB,15010007,Uttarakhand,,Udham Singh Nagar,Comm,Incentive,Points Earned,370.0,2500.0,LM
35217,2025-09-30,2025-10-31,UGB,15010020,Uttarakhand,,Dehradun,Comm,Incentive,Points Earned,148.0,2000.0,LM

In [ ]:

idf['District'].fillna('', inplace=True)

C:\Users\handa\AppData\Local\Temp\ipykernel_30700\993620153.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['District'].fillna('', inplace=True)

In [60]:
idf.columns.tolist()

# list(df.columns)

['Comm_Month',
 'Accounting_Month',
 'Bank',
 'CSP_Code',
 'State',
 'Territorry',
 'District',
 'Comm_Pena',
 'Revenue_Category',
 'Revenue_Head',
 'Count',
 'Comm',
 'Tag']

In [61]:
idf

,Comm_Month,Accounting_Month,Bank,CSP_Code,State,Territorry,District,Comm_Pena,Revenue_Category,Revenue_Head,Count,Comm,Tag
34666,2025-09-30,2025-10-31,UCO,25500,West Bengal,,Paschim Medinipur,Comm,Social Security Scheme & A/C Opening,ACCT,22.0,330.0,LM
34667,2025-09-30,2025-10-31,UCO,25500,West Bengal,,Paschim Medinipur,Comm,Social Security Scheme & A/C Opening,SBY,12.0,12.0,LM
34668,2025-09-30,2025-10-31,UCO,25627,Madhya Pradesh,,Rajgarh,Comm,Social Security Scheme & A/C Opening,ACCT,38.0,575.0,LM
34669,2025-09-30,2025-10-31,UCO,25627,Madhya Pradesh,,Rajgarh,Comm,Other Commission,FINANCIAL_TXN,7.0,20.0,LM
34670,2025-09-30,2025-10-31,UCO,25627,Madhya Pradesh,,Rajgarh,Comm,Social Security Scheme & A/C Opening,SBY,4.0,4.0,LM
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35213,2025-09-30,2025-10-31,UGB,15010012,Uttarakhand,,Uttarkashi,Comm,Incentive,Points Earned,226.0,2500.0,LM
35214,2025-09-30,2025-10-31,UGB,15010008,Uttarakhand,,Udham Singh Nagar,Comm,Incentive,Points Earned,90.0,1500.0,LM
35215,2025-09-30,2025-10-31,UGB,15010021,Uttarakhand,,Tehri Garhwal,Comm,Incentive,Points Earned,208.0,3200.0,LM
35216,2025-09-30,2025-10-31,UGB,15010007,Uttarakhand,,Udham Singh Nagar,Comm,Incentive,Points Earned,370.0,2500.0,LM
35217,2025-09-30,2025-10-31,UGB,15010020,Uttarakhand,,Dehradun,Comm,Incentive,Points Earned,148.0,2000.0,LM

In [7]:
# table_name = "tmp_CSP_Commission"
# columns = df.columns.tolist()
# columns_str = ', '.join(columns)
# placeholders = ', '.join(['?' for _ in range(len(columns))])
# insert_query = f"INSERT INTO WAVE..{table_name} ({columns_str}) VALUES ({placeholders})"

# records = list(df.itertuples(index=False, name=None))

# warehouse_cursor.executemany(insert_query, records)
# conn.commit()

In [62]:
table_name = "CSP_Commission"  # Replace with your actual table name
batch_size = 1000

try:
    columns = idf.columns.tolist()
    # columns_str = ', '.join(columns)
    columns_str = ', '.join([f'[{col}]' for col in columns])
    placeholders = ', '.join(['?' for _ in range(len(columns))])
    insert_query = f"INSERT INTO WAVE..{table_name} ({columns_str}) VALUES ({placeholders})"
    
    total_inserted = 0
    
    # Process in batches
    for i in range(0, len(idf), batch_size):
        batch = idf.iloc[i: i + batch_size]
        records = [tuple(row) for _, row in batch.iterrows()]
        
        print(f"Executing batch insert for records {i} to {i + len(records) - 1}")
        warehouse_cursor.executemany(insert_query, records)
        
        total_inserted += len(records) 
        print(f"Inserted batch: {total_inserted}/{len(idf)} records")
              
    
    print(f"✓ Successfully inserted all {total_inserted} records into {table_name}")
    conn.commit()
    conn.close()
    
except Exception as e:
    # conn.rollback()
    print(f"✗ Error inserting data: {str(e)}")

    
# finally:
#     warehouse_cursor.close()
#     conn.close()

Executing batch insert for records 0 to 551
Inserted batch: 552/552 records
✓ Successfully inserted all 552 records into CSP_Commission

In [73]:
    conn.commit()
    conn.close()

ProgrammingError: Attempt to use a closed connection.

In [67]:
df[2969:2990]

,Comm_Month,Accounting_Month,Bank,CSP_Code,State,Territorry,District,Comm_Pena,Revenue_Category,Revenue_Head,Count,Comm,Tag,imported_by,imported_at,is_processed,error_in_process
2969,2025-10-31,2025-11-30,SBI,10022527,Maharashtra,,Amravati,Comm,Social Security Scheme & A/C Opening,ACC OPEN WITH EKYC AND INIT DEP BELOW 100,5,100.00,LM,DF1002,2025-11-26,0,0
2970,2025-10-31,2025-11-30,SBI,10022527,Maharashtra,,Amravati,Comm,Incentive,ADDITIONAL INCENTIVE ON AEPS CASH TRANSACTIONS,94,94.00,LM,DF1002,2025-11-26,0,0
2971,2025-10-31,2025-11-30,SBI,10022527,Maharashtra,,Amravati,Comm,Non Transactional,ACCOUNT REKYC,1,25.00,LM,DF1002,2025-11-26,0,0
2972,2025-10-31,2025-11-30,SBI,10022527,Maharashtra,,Amravati,Comm,Non Transactional,GREEN PIN GENERATION,1,10.00,LM,DF1002,2025-11-26,0,0
2973,2025-10-31,2025-11-30,SBI,10022527,Maharashtra,,Amravati,Comm,Non Transactional,AEPS MINI STATEMENT - ONUS,31,62.00,LM,DF1002,2025-11-26,0,0
2974,2025-10-31,2025-11-30,SBI,10022527,Maharashtra,,Amravati,Comm,Incentive,RURAL COMMISSION,0,2000.00,LM,DF1002,2025-11-26,0,0
2975,2025-10-31,2025-11-30,SBI,10022527,Maharashtra,,Amravati,Comm,Withdrawal,AEPS ONUS WITHDRAWAL,54,575.50,LM,DF1002,2025-11-26,0,0
2976,2025-10-31,2025-11-30,SBI,10022527,Maharashtra,,Amravati,Comm,Incentive,AVERAGE BALANCE MAINTENANCE,3150,709.22,LM,DF1002,2025-11-26,0,0
2977,2025-10-31,2025-11-30,SBI,10022537,Maharashtra,,NaN,Penalty,Penalty,PENALTY FOR CSP INACTIVITY,0,1000.00,LM,DF1002,2025-11-26,0,0
2978,2025-10-31,2025-11-30,SBI,10022545,Maharashtra,,Wardha,Comm,Financial Commission,LOAN DEPOSIT,3,39.00,LM,DF1002,2025-11-26,0,0
2979,2025-10-31,2025-11-30,SBI,10022545,Maharashtra,,Wardha,Comm,Incentive,WOMEN CSP INCENTIVE,1015,992.00,LM,DF1002,2025-11-26,0,0
2980,2025-10-31,2025-11-30,SBI,10022545,Maharashtra,,Wardha,Comm,Non Transactional,AEPS MINI STATEMENT - ONUS,34,68.00,LM,DF1002,2025-11-26,0,0
2981,2025-10-31,2025-11-30,SBI,10022545,Maharashtra,,Wardha,Comm,Incentive,RURAL COMMISSION,0,2000.00,LM,DF1002,2025-11-26,0,0
2982,2025-10-31,2025-11-30,SBI,10022545,Maharashtra,,Wardha,Comm,Incentive,AVERAGE BALANCE MAINTENANCE,4249,733.24,LM,DF1002,2025-11-26,0,0
2983,2025-10-31,2025-11-30,SBI,10022545,Maharashtra,,Wardha,Comm,Withdrawal,AEPS ONUS WITHDRAWAL,748,7865.00,LM,DF1002,2025-11-26,0,0
2984,2025-10-31,2025-11-30,SBI,10022545,Maharashtra,,Wardha,Comm,Incentive,ADDITIONAL INCENTIVE ON AEPS CASH TRANSACTIONS,876,876.00,LM,DF1002,2025-11-26,0,0
2985,2025-10-31,2025-11-30,SBI,10022545,Maharashtra,,Wardha,Comm,Fund Transfer,MONEY TRANSFER,100,919.78,LM,DF1002,2025-11-26,0,0
2986,2025-10-31,2025-11-30,SBI,10022545,Maharashtra,,Wardha,Comm,Social Security Scheme & A/C Opening,ACC OPEN WITH EKYC AND INIT DEP BELOW 100,2,40.00,LM,DF1002,2025-11-26,0,0
2987,2025-10-31,2025-11-30,SBI,10022545,Maharashtra,,Wardha,Comm,Deposit,AEPS ONUS DEPOSIT,44,242.25,LM,DF1002,2025-11-26,0,0
2988,2025-10-31,2025-11-30,SBI,10022545,Maharashtra,,Wardha,Comm,Withdrawal,AEPS ACQUIRER WITHDRAWAL,84,746.00,LM,DF1002,2025-11-26,0,0
2989,2025-10-31,2025-11-30,SBI,10022546,Maharashtra,,Ahmednagar,Comm,Incentive,RURAL COMMISSION,0,2000.00,LM,DF1002,2025-11-26,0,0

In [13]:
from sqlalchemy import create_engine, text
from datetime import datetime
import urllib

params = urllib.parse.quote_plus(
    "DRIVER={ODBC Driver 17 for SQL Server};"
    "SERVER=135.235.152.210,1433;"
    "DATABASE=WAVE;"
    "UID=devuser;"
    "PWD=Dr!$@1788;"
)
connection_string = f"mssql+pyodbc:///?odbc_connect={params}"
engine = create_engine(connection_string, fast_executemany=True)  # enable bulk mode

In [8]:
def run_commission_processing():
    """
    Executes sp_Insert_into_CSP_Commission with current DATETIME parameter.
    Returns:
    - (True, df) if SP returns rejected data (DataFrame)
    - (False, message) if SP returns message instead of data
    """
    try:
        current_datetime = datetime.now()   # Python datetime → SQL DATETIME
        
        with engine.connect() as conn:
            result = conn.execute(
                text("EXEC Wave.dbo.sp_Insert_into_CSP_Commission @uploading_date=:pdate"),
                {"pdate": current_datetime}
            )

            if result.returns_rows:
                df = pd.DataFrame(result.fetchall(), columns=result.keys())
                return True, df
            else:
                message = result.scalar() or "✅ Data processed successfully!"
                return False, message

    except Exception as e:
        return False, f"❌ Error executing stored procedure: {str(e)}"

In [28]:
with engine.begin() as conn:
            result = conn.execute(
                text("EXEC Wave.dbo.sp_Insert_into_CSP_Commission @uploading_date=:pdate"),
                {"pdate": datetime.now()}
            )
            # result = conn.execute(f"EXEC Wave.dbo.sp_Insert_into_CSP_Commission '{str(datetime.now().date())}'")